/*
 * Copyright 2018-present Lenovo
 * Confidential and Proprietary
 */

.elfinder-button-icon-custom {
    width: 100px;
    font-family: Arial, Microsoft YaHei, 微软雅黑, sans-serif;
    font-size: 16px;
    display: block;
    background: none;
    line-height: 16px;
    text-align: center;
}
.elfinder-cwd.elfinder-table-header-sticky table {
    border-top: none;
}
.elfinder .elfinder-dialog-confirm .elfinder-confirm-reject,
.elfinder .elfinder-dialog-confirm [class*=extbtn] {
    display: none;
}
.elfinder-dialog-upload .elfinder-upload-dirselect {
    display: none;
}
.elfinder-dialog-upload .ui-button+.ui-button {
    display: none;
}
/* .elfinder-dialog-edit .ui-dialog-buttonpane>:first-child button{
    display: none;
} */

.elfinder-manager-bottomtray {
	display: none;
}

